@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #ffffff;
    --global-bg-2: #1560fb;
    --global-bg-3: #1c1a2c;
    --global-bg-4: #1c1b25;
    --global-bg-5: #1c1b2526;
    --global-bg-6: #34ccff19;
    --global-bg-7: #5765f219;
    --global-bg-8: #d1d5db;
    --global-bg-9: #e5e7eb;
    --global-bg-10: #f3f4f6;
    --global-bg-11: #f6f6f6;
    --global-bg-12: #f7f7f7;
    --global-bg-13: #fb8f2119;
    --global-bg-14: #fff6ef;
    --global-bg-15: #ffffff3f;
    --global-text-1: #111827;
    --global-text-2: #1c1b25;
    --global-text-3: #7270ff;
    --global-text-4: #9ca3af;
    --global-text-5: #fb8f21;
    --global-text-6: #000000;
    --global-text-7: #2f2b4a;
    --global-text-8: #34ccff;
    --global-text-9: #374151;
    --global-text-10: #4b5563;
    --global-text-11: #5765f2;
    --global-text-12: #6b7280;
    --global-text-13: #a6a4b0;

    /* Button Colors */
    --button-bg-1: #3585ff;
    --button-bg-2: #008fe6;
    --button-text-1: #1f1f1f;
    --button-text-2: #ffffff;

    /* EditText Colors */
    --edittext-bg-1: #f9fafb;

    /* Header Colors */
    --header-bg-1: #ffffff;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .bg-global-7 {
    background-color: var(--global-bg-7);
  }
  .bg-global-8 {
    background-color: var(--global-bg-8);
  }
  .bg-global-9 {
    background-color: var(--global-bg-9);
  }
  .bg-global-10 {
    background-color: var(--global-bg-10);
  }
  .bg-global-11 {
    background-color: var(--global-bg-11);
  }
  .bg-global-12 {
    background-color: var(--global-bg-12);
  }
  .bg-global-13 {
    background-color: var(--global-bg-13);
  }
  .bg-global-14 {
    background-color: var(--global-bg-14);
  }
  .bg-global-15 {
    background-color: var(--global-bg-15);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }
  .text-global-6 {
    color: var(--global-text-6);
  }
  .text-global-7 {
    color: var(--global-text-7);
  }
  .text-global-8 {
    color: var(--global-text-8);
  }
  .text-global-9 {
    color: var(--global-text-9);
  }
  .text-global-10 {
    color: var(--global-text-10);
  }
  .text-global-11 {
    color: var(--global-text-11);
  }
  .text-global-12 {
    color: var(--global-text-12);
  }
  .text-global-13 {
    color: var(--global-text-13);
  }

  /* Button */
  .bg-button-1 {
    background-color: var(--button-bg-1);
  }
  .bg-button-2 {
    background-color: var(--button-bg-2);
  }
  .text-button-1 {
    color: var(--button-text-1);
  }
  .text-button-2 {
    color: var(--button-text-2);
  }

  /* EditText */
  .bg-edittext-1 {
    background-color: var(--edittext-bg-1);
  }

  /* Header */
  .bg-header-1 {
    background-color: var(--header-bg-1);
  }
}
